server:
  port: 8080

spring:
  h2:
    console:
      enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/testdb
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      format_sql: true
      dialect: org.hibernate.dialect.MySQLDialect
    jdbc:
      time_zone: Asia/Seoul
    show_sql: true


slack:
  api:
    bot-token: ${slack.token:1234}
    log-channel: ${slack.channel:1234}