server:
  port: 8080

spring:
  h2:
    console:
      enabled: false
  datasource:
    url: jdbc:mysql://localhost:3306/shopping
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      format_sql: true
      dialect: org.hibernate.dialect.MySQLDialect
    jdbc:
      time_zone: Asia/Seoul
    show_sql: true